
  <nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">Insert Into Database</a>
  </nav>

<div class="container">
  <br>

  <div class="container">
    <br>
    <br>
    <mat-progress-bar mode="indeterminate" [hidden]="progressBar"></mat-progress-bar>
    <mat-card>
      <mat-card-title>Insert to Database</mat-card-title>
      <hr>
      <form class="userForm" [formGroup]="userForm">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <mat-form-field>
                <mat-label>Db</mat-label>
                <select class="sl" matNativeControl required formControlName="db">
                  <option value="shantiniketan">Shantiniketan</option>
                  <option value="saab">OrinMatrix</option>
                  <option value="mercedes">Others</option>
                  <option value="audi">Others</option>
                </select>
              </mat-form-field>
            </div>
            <div class="col-sm">
            <input class="btn" type="file" enctype="multipart/form-data"  (change)="onFileChange($event)"/>
            </div>
          </div>
        </div>
        <br>
        <button class="btn btn-rounded btn-primary" (click)="onSubmit()">Submit</button>

      </form>
    </mat-card>

  </div>

</div>
